$primary: #3C3C3C;
$white: #FFFFFF;
$light: #F8F8F8;
$dark: #4D4D4D;
$red: #E2574C;
$font-family-base: 'Raleway',
"Playfair Display",
sans-serif;
$navbar-toggler-font-size                : 1.75rem;
$navbar-light-color                      : $primary;
$navbar-light-hover-color                : $primary;
$navbar-light-active-color               : $primary;
$navbar-light-toggler-border-color       : $white;

